.calculator_form {
	border-top: solid 1px black;
	padding: 10px;
}

.calculator_form label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float:left;
    padding:3px;
}

.calculator_form input {
    padding:5px 8px;
}

.calculator_form input:focus:invalid, .calculator_form textarea:focus:invalid { /* when a field is considered invalid by the browser */
    background: #fff url(images/invalid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.calculator_form input:required:valid, .calculator_form textarea:required:valid { /* when a field is considered valid by the browser */
    background: #fff url(images/valid.png) no-repeat 98% center;
    box-shadow: 0 0 5px #5cd053;
    border-color: #28921f;
}

.calculator_form textarea {padding:8px; width:300px;}
.calculator_form button {margin-left:156px;}

.calculator_form h2 {
    margin:0;
    display: inline;
}

.required_notification {
    color:#d45252;
    margin:5px 0 0 0;
    display:inline;
    float:right;
}